body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: black;
}

/* Comment this class out to un-flip image */
.flip-img {
    -webkit-transform: scale(-1, -1);
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: contain;
    z-index: -1;
}

.control-area {
    position: fixed;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.3); /* semi-transparent */
    border: 2px solid rgba(255, 255, 255, 0.5);
    touch-action: none; /* Important for touchscreen devices */
    border-radius: min(3vw, 3vh);
}

#left-touch {
    left: 20px;
    width: min(40vw, 40vh);
    height: min(40vw, 40vh);
}

#right-touch {
    right: 20px;
    width: min(40vw, 40vh);
    height: min(20vw, 20vh);
}
