body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

body::before {
    content: "";
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: -999;
}

#audio-btns {
    display: inline;
    position: fixed;
    top: 3vh;
    left: 0;
    width: 100%;
}

button {
    background-color: rgba(255, 255, 255, 0.3); /* semi-transparent */
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: min(3vw, 3vh);
    color: white;
}

#video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    object-fit: contain;
    z-index: -1;

    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    -moz-transform: translate(-50%, -50%) rotate(180deg);
    -o-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
}

.control-area {
    position: fixed;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.3); /* semi-transparent */
    border: 2px solid rgba(255, 255, 255, 0.5);
    touch-action: none; /* Important for touchscreen devices */
    border-radius: min(3vw, 3vh);
    z-index: 100;
}

#left-touch {
    left: 20px;
    width: min(40vw, 40vh);
    height: min(40vw, 40vh);
}

#right-touch {
    right: 20px;
    width: min(40vw, 40vh);
    height: min(20vw, 20vh);
}
